@model List<DetallePedidoViewModel>
@{
    var pedido = (PedidoDTO)ViewBag.Pedido;
}

<div class="detalle-pedido-container">

    <div class="pedido-titulo-container">
        <h2 >Detalles del Pedido #@pedido.IdPedido</h2>
    </div>

    <div class="pedido-estado-container">
            <p><strong>Fecha:</strong> @pedido.FechaPedido.ToString("dd/MM/yyyy")</p>
            <p><strong>Estado:</strong> <span class="badge bg-info text-dark">@pedido.Estado</span></p>
            <p><strong>Total:</strong> <span class="fw-bold text-success">$@pedido.Total.ToString()</span></p>
    </div>

    <div class="tabla-pedido-container table-responsive">
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th>Producto</th>
                    <th>Vista previa</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-start">@item.NombreProducto</td>
                        <td><img src="@item.ImagenProducto" alt="Imagen de @item.NombreProducto" class="img-thumbnail" style="width: 60px;" /></td>
                        <td>$@item.PrecioUnitario.ToString()</td>
                        <td>@item.Cantidad</td>
                        <td class="fw-semibold text-success">$@item.Subtotal.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<partial name="_ValidationScriptsPartial" />