@model List<LocalDTO>

@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<main>
    <div class="hero">
        <div class="hero-content">
            <h1>Toda la moda, en un solo lugar</h1>
            <button class="btn-primary">Ver tiendas cercanas</button>
        </div>
    </div>
    <div class="carruseles">
        <!-- CARRUSEL MUJER -->
        <div class="section-category-2">
            <div class="section-header">
                <h2>Ropa de mujer</h2>
            </div>
            <div class="cards-wrapper">
                <button class="arrow left uno"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="cards-container carruselUno">
                    @foreach (var local in Model)
                    {
                        if (local.Rubro?.Nombre == "Mujer")
                        {
                            <div class="card">
                                <img src="~/img/tiendas/@local.Imagen">
                                <h3>@local.Nombre</h3>
                                <p>@local.Direccion?.Descripcion</p>
                            </div>
                        }
                    }
                </div>
                <button class="arrow right uno"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <!-- CARRUSEL HOMBRE -->
        <div class="section-category">
            <div class="section-header">
                <h2>Ropa de hombre</h2>
            </div>
            <div class="cards-wrapper">
                <button class="arrow left dos"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="cards-container carruselDos">
                    @foreach (var local in Model)
                    {
                        if (local.Rubro?.Nombre == "Hombre")
                        {
                            <div class="card">
                                <img src="~/img/tiendas/@local.Imagen">
                                <h3>@local.Nombre</h3>
                                <p>@local.Direccion?.Descripcion</p>
                            </div>
                        }
                    }
                </div>
                <button class="arrow right dos"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <!-- CARRUSEL INFANTIL -->
        <div class="section-category-2">
            <div class="section-header">
                <h2>Ropa infantil</h2>
            </div>
            <div class="cards-wrapper">
                <button class="arrow left tres"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="cards-container carruselTres">
                    @foreach (var local in Model)
                    {
                        if (local.Rubro?.Nombre == "Infantil")
                        {
                            <div class="card">
                                <img src="~/img/tiendas/@local.Imagen">
                                <h3>@local.Nombre</h3>
                                <p>@local.Direccion?.Descripcion</p>
                            </div>
                        }
                    }
                </div>
                <button class="arrow right tres"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <!-- CARRUSEL ACCESORIOS -->
        <div class="section-category">
            <div class="section-header">
                <h2>Accesorios</h2>
            </div>
            <div class="cards-wrapper">
                <button class="arrow left cuatro"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="cards-container carruselCuatro">
                    @foreach (var local in Model)
                    {
                        if (local.Rubro?.Nombre == "Accesorios")
                        {
                            <div class="card">
                                <img src="~/img/tiendas/@local.Imagen">
                                <h3>@local.Nombre</h3>
                                <p>@local.Direccion?.Descripcion</p>
                            </div>
                        }
                    }
                </div>
                <button class="arrow right cuatro"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <!-- CARRUSEL DEPORTIVO -->
        <div class="section-category-2" style="padding-bottom: 100px;">
            <div class="section-header">
                <h2>Ropa deportiva</h2>
            </div>
            <div class="cards-wrapper">
                <button class="arrow left cinco"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="cards-container carruselCinco">
                    @foreach (var local in Model)
                    {
                        if (local.Rubro?.Nombre == "Deportiva")
                        {
                            <div class="card">
                                <img src="~/img/tiendas/@local.Imagen">
                                <h3>@local.Nombre</h3>
                                <p>@local.Direccion?.Descripcion</p>
                            </div>
                        }
                    }
                </div>
                <button class="arrow right cinco"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" asp-append-version="true"></script>
}